
# IDE related
.idea/
.idea_modules/
*.iml
*.iws
*.ipr
workspace/
workspace.xml
*.swp
.metadata/
.projects
.code-workspace
.vscode/

# logs and temp data
log
logs
temp
*.tmp
*.log
thumbs.db

# builds
out/
dist/

# caches
__pycache__

# private space and other related things
/private/
/secret/
cert/
key/

# Jupyter Notebook
.ipynb_checkpoints